<br>
<h2 style="text-align: center;">Authors</h2>
<div>
  <o-table
    class="table table-striped"
    fxFlex
    attr="authorsTable"
    service="authors"
    entity="author"
    keys="author_id"
    columns="author_id;author_first_name;author_last_name"
    visible-columns="author_first_name;author_last_name"
    query-rows="20"
    delete-button="false"
    insert-button="false"
    title="Authors"
  >
    <th
      attr="PHOTO"
      title="PHOTO"
      orderable="no"
      searchable="no"
      type="image"
      avatar="yes"
      empty-image="assets/images/no-image.png"
      image-type="base64"
    ></th>
    <th
      attr="STARTDATE"
      title="STARTDATE"
      type="date"
      format="LL"
    ></th>
    <th attr="ID" title="ID" width="100px"></th>
  </o-table>
</div>
