.card{
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 10px;
    width: 70rem;
    float: none;
}

img{
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
    margin-left: 40px;
    margin-top: 30px;
    border: 3px solid;
  }

