<div class="card mb-3 text_center">
  <div class="card-header">
    <h2 style="text-align: center;">{{ userData.principal.username }}</h2>
  </div>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        *ngIf="userData.principal.otherData.PICTURE != null; else noPicture"
        class="card-img rounded-circle my-4"
        [src]="getImageSrc(userData.principal.otherData.PICTURE)"
      />
      <ng-template #noPicture>
        <img
          class="card-img rounded-circle"
          src="../../../assets/images/user_profile.png"
        />
      </ng-template>
    </div>

    <div class="col-md-8">
      <div class="card-body text-center">
        <h5 class="card-title text-center">Nombre</h5>
        <p class="card-subtitle mb-2 text-muted">
          {{ userData.principal.otherData.NAME }}
        </p>
        <br />
        <h5 class="card-title text-center">Apellidos</h5>
        <p class="card-subtitle mb-2 text-muted">
          {{ userData.principal.otherData.SURNAME }}
        </p>
        <br />
        <h5 class="card-title text-center">Email</h5>
        <p class="card-subtitle mb-2 text-muted">
          {{ userData.principal.otherData.EMAIL }}
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
