<div class="card mb-3 text_center" *ngFor="let user of userData.data">
  <div class="card-header">
    <h2 style="text-align: center;">{{ user.USER_ }}</h2>
  </div>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        *ngIf="user.PICTURE != null; else noPicture"
        class="card-img rounded-circle mb-2 mt-5"
        [src]="getImageSrc(user.PICTURE)"
      />
      <ng-template #noPicture>
        <img
          class="card-img rounded-circle mb-2 mt-5"
          src="../../../assets/images/user_profile.png"
        />
      </ng-template>
      <p class="text-center">
        <button
          type="button"
          class="text-center btn btn-link mb-4"
          data-toggle="modal"
          data-target="#changeImage"
        >
          Cambiar foto de perfil
        </button>
      </p>
    </div>

    <div class="col-md-8 m-auto">
      <div class="card-body text-center">
        <h5 class="card-title text-center">Nombre</h5>
        <p class="card-subtitle mb-2 text-muted">
          {{ user.NAME }}
        </p>
        <br />
        <h5 class="card-title text-center">Apellidos</h5>
        <p class="card-subtitle mb-2 text-muted">
          {{ user.SURNAME }}
        </p>
        <br />
        <h5 class="card-title text-center">Email</h5>
        <p class="card-subtitle mb-2 text-muted">
          {{ user.EMAIL }}
        </p>
        <br />
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="changeImage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="changeImage"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeImage">Cambiar foto de perfil</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="file"
          (change)="pickedImg($event)"
          class="form-control-file"
          id="profilePicture"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="updatePicture()"
          data-dismiss="modal"
        >
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>
