<div class="card mb-3 text_center">
    <h2 class="card-header" style="text-align: center;">
        Username
    </h2>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <h5 class="card-title text-center">Nombre</h5>
          <p class="card-subtitle mb-2 text-muted">Aquí va el nombre</p>
          <br>
          <h5 class="card-title text-center">Apellidos</h5>
          <p class="card-subtitle mb-2 text-muted">Aquí van los apellidos</p>
          <br>
          <h5 class="card-title text-center">Email</h5>
          <p class="card-subtitle mb-2 text-muted">Aquí va el email</p>
          <br>
          <br>
          <div class="container">
            <div class="row">
                <div class="col-sm">
             <span class="btn1">
              <a
                class="btn btn-outline-dark"
                style="width: 11rem; margin: auto;"
              >
            Cambiar Contraseña
            </a>
            </span>
              </div>
            <div class="col-sm">
            <span class="btn2">
            <a
                class="btn btn-outline-dark"
                style="width: 11rem; margin: auto;"
            >
            Editar Datos
            </a>
         </span>
        </div>
        </div>
        </div>
        
        </div>
      </div>
    </div>
</div>