.card{
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 10px;
    width: 70rem;
    float: none;
}

img{
    float: left;
    width:  375px;
    height: 375px;
    object-fit: cover;
    margin-left: 40px;
  }

