<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between"
>
  <a class="navbar-brand mb-0 h1" href="#">
    <img
      src="../../assets/images/books-icon.png"
      class="nav-img d-inline-block align-top"
    />
    JustRead
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Destacados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Explora</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/authors">ExploraAutores</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
