<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between"
>
  <a class="navbar-brand mb-0 h1" routerLink="/main/home">
    <img
      src="../../assets/images/books-icon.png"
      class="nav-img d-inline-block align-top"
    />
    JustRead
  </a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/home">Destacados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/books">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/authors">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/genres">Géneros</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav justify-content-end">
    <li class="nav-item dropleft">
      <a
        *ngIf="username != ''; else noUsername"
        class="nav-link dropdown-toggle"
        role="button"
        id="navbarDropdownProfileLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >{{ username }}</a
      >
      <div class="dropdown-menu" aria-labelledby="navbarDropdownProfileLink">
        <a class="dropdown-item" routerLink="/main/user/profile">Mi perfil</a>
        <a class="dropdown-item" routerLink="/main/user/lists">Mis listas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" type="button" (click)="closeSession()"
          >Desconectar</a
        >
      </div>
      <ng-template #noUsername>
        <a class="nav-link" routerLink="/login">Login</a>
      </ng-template>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
