<div *ngFor="let book of bookResponse.data">
  <div class="card mx-auto my-4 w-75 text-center">
    <div class="card-header"></div>
    <div class="card-body container-fluid m-0">
      <div class="row">
        <div class="m-auto col-md-auto d-block">
          <div class="mx-4">
            <img
              class="rounded"
              [src]="getImageSrc(book.book_thumbnail)"
              style="width: 15rem;"
            />
            <div *ngIf="isNaN(getScoreAvgReviews())" class="mt-3">
              <p class="text-muted">
                <small>Sin valoraciones</small>
              </p>
            </div>
            <div *ngIf="!isNaN(getScoreAvgReviews())" class="mt-3">
              <app-book-rating
                [rating]="getScoreAvgReviews()"
              ></app-book-rating>
              <p class="text-muted">
                <small
                  >{{ count }} valoraciones - Media:
                  {{ getScoreAvgReviews() | number: "1.2-2" }}</small
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col m-4">
          <h5 class="card-title">{{ book.book_title }}</h5>
          <p class="card-text">
            Autor:<br />
            <a
              *ngFor="let authors of authorsResponse.data"
              style="font-style: italic;"
              routerLink="/main/authors/{{ authors.author_id }}"
              >{{ authors.author_first_name }} {{ authors.author_last_name }}
              <br />
            </a>
            Género:<br />
            <a
              *ngFor="let genre of bookGenres.data"
              style="font-style: italic;"
              routerLink="/main/genres/{{ genre.genre_id }}"
              >{{ genre.genre_name }} <br />
            </a>
          </p>
          <p class="card-text" id="description">
            {{ book.book_description }}
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"
        >ISBN: {{ book.book_isbn }} - Fecha de lanzamiento:
        {{ book.book_launch_date | date: "dd/MM/yyyy" }}</small
      >
    </div>
    <div *ngFor="let reviews of bookReviews.data">
      <div *ngIf="!reviews.user_" class="card mx-auto m-3 w-50">
        <div class="card-body">
          <p class="m-1">
            Este libro aun no tiene ninguna reseña.
          </p>
        </div>
      </div>
      <div *ngIf="reviews.user_" class="card mx-auto my-3 w-75">
        <div class="card-header">
          <app-book-rating
            class="text-right"
            [rating]="reviews.review_score"
          ></app-book-rating>
        </div>
        <div class="card-body container-fluid m-0">
          <div class="row">
            <div class="m-auto col-md-auto d-block">
              <img
                class="rounded-circle my-2"
                id="avatar"
                [src]="getImageSrc(reviews.picture)"
                *ngIf="reviews.picture; else noPicture"
              />
              <ng-template #noPicture>
                <img
                  class="rounded-circle my-2"
                  id="avatar"
                  src="../../../assets/images/user_profile.png"
                />
              </ng-template>
              <h5 class="mx-3">{{ reviews.user_ }}</h5>
            </div>
            <div class="col">
              <p *ngIf="!reviews.is_spoiler;else spoiler" class="px-6 py-2">{{ reviews.review_text }}</p>
              <ng-template #spoiler>
                <p (click)="onClickSpoiler(reviews.review_text)" class="px-6 py-2"><b>{{reviewTextSpoiler}}</b></p>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <div *ngIf="reviews.review_last_update; else createDate">
            <small class="text-muted"
              >Fecha:
              {{
                reviews.review_last_update | date: "hh:mm - dd/MM/yyyy"
              }}</small
            >
          </div>
          <ng-template #createDate>
            <small class="text-muted"
              >Fecha:
              {{
                reviews.review_create_date | date: "hh:mm - dd/MM/yyyy"
              }}</small
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
