<div class="" *ngFor="let book of bookResponse.data">
  <div class="card mb-3 text-center">
    <div class="card-header">    </div>
    <div class="card-body text-center">
      <img class="card-img-top" [src]="getImageSrc(book.book_thumbnail)" />
      <h5 class="card-title">{{ book.book_title }}</h5>
      <p class="card-text">
        {{ book.book_description }}
      </p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">ISBN: {{ book.book_isbn }}</small>
    </div>
  </div>
</div>
