<div class="container-fluid">
  <div class="row">
    <div
      class="col-md-auto card m-2 btn btn-outline-dark"
      routerLink="/main/books/{{ book.book_id }}"
      *ngFor="let book of books.data"
    >
      <img
        class="card-img-top mt-2 section-thumbnail"
        [src]="getImageSrc(book.book_thumbnail)"
      />
      <div class="card-body">
        <div class="card-text section-text text-center">
          {{ book.book_title }}
        </div>
      </div>
    </div>
  </div>
</div>
