.section-thumbnail {
  width: 171px !important;
  height: 225px !important;
  margin: auto;
  object-fit: cover;
  border-radius: 6px;
}

.section-text {
  width: 220px;
  margin: auto;
}

.information {
  width: 400px;
  margin: auto;
  text-align: left;
}

.header {
  margin: auto;
  text-align: left;
}
