<div fxFlex>
  <o-grid
    fxFlex
    #booksGrid
    attr="booksGrid"
    service="books"
    entity="book"
    title="Books"
    columns="book_id;book_title;book_thumbnail;book_isbn;book_description;book_launch_date"
    keys="book_id"
    cols="4"
    query-rows="8"
    show-page-size="false"
    page-size-options="4;8;16"
    orderable="true"
    quick-filter="true"
    sortable-columns="book_title;book_launch_date"
    sort-column=""
    controls="true"
    refresh-button="false"
    pagination-controls="true"
    gutter-size="20px"
  >
    <o-grid-item *ngFor="let book of booksGrid.dataArray">
      <div fxLayout="column" class="mat-elevation-z1">
        <div class="card" style="width: 18rem;">
          <div fxLayout="column" class="mat-elevation-z1">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between end"
              class="image-container"
            >
              <mat-divider fxFlex></mat-divider>
              <div class="image card-img-top">
                <img [src]="getImageSrc(book.book_thumbnail)" />
              </div>
              <mat-divider fxFlex></mat-divider>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="start center"
              class="card-body"
            >
              <span class="card-title">{{ book.book_title }}</span>
            </div>
            <a
              href="#"
              class="btn btn-outline-dark"
              style="width: 11rem; margin: auto;"
              >Más información</a
            >
          </div>
        </div>
      </div>
    </o-grid-item>
  </o-grid>
</div>
