.d-block{

margin: auto;

}

.carousel-control-prev{

    background-color: rgba(14, 13, 13, 0.267);
    width: 70px;
    margin-top:70px;
    margin-bottom: 70px;

}

.carousel-control-next{

    background-color: rgba(14, 13, 13, 0.267);
    width: 70px;
    margin-top:70px;
    margin-bottom: 70px;

}

h4{
    color:black;
}
